<br>
<div class="bookings">
    <div class="row">
      <h1 class="pl-3 ml-0">Upcoming Reservations</h1>
      <% @bookings.each do |booking| %>
        <% if booking.date >= Date.today %>
          <div class="card-long">
            <% if booking.meal.photo.attached? %>
              <%= cl_image_tag booking.meal.photo.key, height: 300, width: 300, crop: :fill %>
            <% else %>
              <%= image_tag "chef_logo_alt.png" , height: 300, width: 300, crop: :fill %>
            <% end %>
            <div class="card-long-infos">
              <h2><%= booking.meal.title %></h2>
              <p>Customer: <%= booking.user.email %></p>
              <p>Date: <%= booking.date_formatted %></p>
              <p>Time: <%= booking.time_formatted %></p>
              <p>Description: <%= booking.meal.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <h1 class="pl-3 ml-0">Past Reservations</h1>
      <% @bookings.each do |booking| %>
        <% if booking.date < Date.today %>
          <div class="card-long">
            <% if booking.meal.photo.attached? %>
              <%= cl_image_tag booking.meal.photo.key, height: 300, width: 300, crop: :fill %>
            <% else %>
              <%= image_tag "chef_logo_alt.png" , height: 300, width: 300, crop: :fill %>
            <% end %>
            <div class="card-long-infos">
              <h2><%= booking.meal.title %></h2>
              <p>Customer: <%= booking.user.email %></p>
              <p>Date: <%= booking.date_formatted %></p>
              <p>Time: <%= booking.time_formatted %></p>
              <p>Description: <%= booking.meal.description %></p>
              <div class="mt-3">
                <%= link_to 'Add Review', new_booking_review_path(booking), class: "btn btn-outline-dark" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
