<div class="container">
  <div class="card">
    <table>
    <tr>
      <td>
        <% if @booking.meal.photo.attached? %>
          <%= cl_image_tag @booking.meal.photo.key, height: 300, width: 300, crop: :fill %>
        <% else %>
          <%= image_tag "chef_logo_alt.png" , height: 300, width: 300, crop: :fill %>
        <% end %>
      </td>
      <td id="meal_details">
        <h4> Chef: <%= @booking.meal.user.email %> </h4>
        <p> Specialty: <%= @booking.meal.title %></p>
        <p> Description: <%= @booking.meal.description %></p>
        <p> Category: <%= @booking.meal.category %></p>
        <p> Price: <%= @booking.meal.price %></p>
        <p> Cooking_time: <%= @booking.meal.cooking_time %></p>
      </td>
    </tr>
    </table>
  </div>
  <%= link_to 'Back to Meals', meals_path, class: "btn btn-outline-dark" %>
  <% if policy(@booking.meal).edit? %>
    <%= link_to 'Edit meal', edit_meal_path, class: "btn btn-outline-dark" %>
  <% end %>
</div>

