<%= form_tag meals_path, method: :get do %>
<div class="search-form-control form-group">
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Meal"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  </button>
  </div>
<% end %>

<div class="row">
  <% @meals.each do |meal| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-trip">
        <%= link_to meal_path(meal), class: "card-link" do %>
          <% if meal.photo.attached? %>
            <%= cl_image_tag meal.photo.key, height: 300, crop: :fit%>
          <% else %>
            <%= image_tag "chef_logo_alt.png", height: 300 %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2 id='meal_index_chef'><%= meal.title.capitalize %></h2>
              <p><%= meal.category %></p>
              <p>Price is <strong>£<%= meal.price %></strong> per person</p>
            </div>
            <h2 class="card-trip-pricing"><%= meal.cooking_time %></h2>
            <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1573660923/rayadzbf4p9tjg6mgte4.jpg" class="card-trip-user avatar-bordered" />
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if policy(@meals).create? %>
  <%= link_to 'create a meal', new_meal_path, class: "btn btn-outline-dark" %>
<% end %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
