<div class="card-long mt-3">
  <% if @meal.photo.attached? %>
    <%= cl_image_tag @meal.photo.key, height: 300, width: 300, crop: :fill %>
  <% else %>
    <%= image_tag "chef_logo_alt.png" , height: 300, width: 300, crop: :fill %>
  <% end %>
  <div class="card-long-infos">
    <h2><%= @meal.title %></h2>
    <p>Chef: <%= @meal.user.email %></p>
    <p>Description: <%= @meal.description %></p>
    <p>Category: <%= @meal.category %></p>
    <p>Price: <i class="fas fa-pound-sign"></i> <%= @meal.price %></p>
    <p>Cooking time: <%= @meal.cooking_time %></p>
    <div class="card-product-reviews">
      <% if @meal.reviews.size !=0 %>
        <p><strong>Rating</strong></p>
        <% @meal_ratings_sum = 0 %>
        <% @meal.reviews.each do |review| %>
        <% @meal_ratings_sum += review.rating %>
        <% @meal_rating = @meal_ratings_sum / @meal.reviews.size%>
        <% @empty_stars = 5 - @meal_rating %>
        <% end %>
        <p>
          <% @meal_rating.times do%>
            <i class="fas fa-star"></i>
          <% end %>
          <% @empty_stars.times do %>
            <i class="far fa-star"></i>
          <% end %>
        </p>
        <p id="show-reviews-button">Show More</p>
      <% else %>
        <p><strong>No reviews yet</strong></p>
      <% end %>
    </div>
  </div>
</div>

<div class="card-reviews-visible" id="card-reviews-id">
  <h2 class="border-bottom">Reviews</h2>
  <% @meal.reviews.each do |review| %>
    <div class="review-small border-bottom pt-1 mr-0">
      <div>
        <% if review.booking.user_id == 1 %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/khalidir", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/brycole", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        Review by: <%= review.booking.user.email.split("@").first.capitalize %>
      </div>
      <div>
        <%= review.content %>
      </div>
    </div>
  <% end %>
</div>

<div id="card-buttons">
  <%= link_to 'Back to Meals', meals_path, class: "btn btn-outline-dark" %>

  <% if policy(@meal).edit? %>
    <%= link_to 'Edit meal', edit_meal_path, class: "btn btn-outline-dark" %>
  <% end %>
    <%= link_to 'Book this meal', new_meal_booking_path(@meal), class: "btn btn-outline-dark"   %>
</div>


